header {
    background-color: #22222A;
}

nav {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 5px;
    height: 100%;
}

    nav > span {
        font-size: 1.3rem;
        font-weight: 700;
        color: #60DBFD;
    }

main {
    margin: 1rem;
    padding: 1rem;
    background: url("./assets/react.svg") no-repeat;
    background-size: contain;
    background-position: right;
}

    main > ul {
        padding: 1rem;
        margin-left: 1rem;
    }

    main > ul > li {
        margin-block: 0.7rem;
    }

    main > ul li::marker {
        color: #60DBFD;
        font-size: 1.4rem;
    }